* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header {
    text-align: center;
    padding: 16px 0;
    display: flex;
    border-bottom: 16px solid #341f97;
    color: rgb(255, 255, 255);
    background-color: rgb(22, 182, 246);
    text-transform: uppercase;
    justify-content: center;
    font-style: italic;
}

header button {
    margin-left: 15px;
    padding: 10px;
}

form {
    background-color: aliceblue;
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2 {
    margin-bottom:  15px;
}

input {
    padding: 8px;
}

button {
    background-color: aquamarine;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    background-color: green;
    padding: 5px;
    margin-left: 5px;
}

#botao-cancelar {
    background-color: red;
}


ul {
    display: flex;
    flex-wrap: wrap;
}

ul li {
    max-width: 25%;
    list-style: none;
    position: relative;
    max-height: 280px;
    overflow-y: hidden;
}

ul li img {
    width: 100%
}

.overlay-img-link {
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all ease .5s;
}

.overlay-img-link a {
    color: #fff;
    text-decoration: none;
}

ul li:hover .overlay-img-link {
    opacity: 1;
}